@using MANvFAT_Football.Helpers

@model MANvFAT_Football.Models.LogOnModel

@{
    ViewBag.Title = "LogOn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#UserName").focus();
        TestBrowserForCookies();
    });



        function cookiesAreEnabled() {
        var cookieEnabled = (navigator.cookieEnabled) ? 1 : 0;

        if (typeof navigator.cookieEnabled == "undefined" && cookieEnabled == 0) {
            document.cookie = "testcookie";
        cookieEnabled = (document.cookie.indexOf("test­cookie") != -1) ? 1 : 0;
        }

        return cookieEnabled == 1;
    }

    function TestBrowserForCookies() {
        if (cookiesAreEnabled())
        {
            //alert("YES! Cookies are Enabled!");
        }
        else
        {
            //alert("NO! Cookies are NOT Enabled!");
            $(".divLoginButton").slideUp();
            $(".divCookiesMsg").slideDown();
        }
    }
</script>


<div class="divMain">
    @using (Html.BeginForm())
    {

        <div class="text-danger col-sm-12" style="text-align:center;">
            @Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")
        </div>
        <section>
            <div class="container">
                <div class="row divCookiesMsg" style="display:none;">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-center alert alert-danger">
                            <h2>Cookies are Not Enabled</h2>
                            <h3>It seems like Cookies are not enabled on your browser, Please enable Browser Cookies and Refresh this Page to login.</h3>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-6 col-md-offset-3 well">

                        <!-- ALERT -->
                        @*<div class="alert alert-mini alert-danger margin-bottom-30">
                                <strong>Oh snap!</strong> Login Incorrect!
                            </div>*@<!-- /ALERT -->

                        <div class="box-static box-border-top margin-top-10 padding-30">
                            <div class="box-title margin-bottom-30">
                                <h3>Please enter your Registered Email and Password</h3>
                            </div>
                            <br />
                            <form class="nomargin" method="post" action="#" autocomplete="off">
                                <div class="clearfix">

                                    <!-- Email -->
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control required", @placeholder = "Email", @required = "" })
                                    </div>

                                    <!-- Password -->
                                    <div class="form-group">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control required", @placeholder = "Password", @required = "" })
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-md-6 col-sm-6 col-xs-6">

                                        <!-- Inform Tip -->
                                        <div class="form-tip pt-20">
                                            <a class="no-text-decoration size-13 margin-top-10 block" href="/Account/ForgottenPassword">Forgot Password?</a>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-6 col-xs-6 text-right divLoginButton">

                                        <button class="btn btn-primary">LOG IN</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    }
</div>