
@{
    ViewBag.Title = "ResetPasswordSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row text-center">
    <div class="jumbotron">
        <div class="alert alert-success">
            <h1>
                You have successfully Reset you Password.
            </h1>
        </div>
        <h3>
            <a href="/Account/Logon">Click here</a> to Login
        </h3>
    </div>
</div>
