
@{
    ViewBag.Title = "HOME";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">

        <div class="panel panel-primary">
            <div class="panel-heading">MANvFAT Progress</div>
            <div class="panel-body">
               <div class="jumbotron text-center">
                   <h1>Welcome to MANvFAT Progress</h1>
                   <br />
                   <h2>@DateTime.Now.ToString("dd MMMM yyyy HH:mm")</h2>
               </div>
            </div>
        </div>
    </div>
    
</div>

