@model MANvFAT_Football.Models.Repositories.PlayersExt

<div id="healthreport">
    <div style="margin-bottom: 20px; padding-bottom: 10px; border-bottom: solid 5px #333;"><img src="http://football.itbrainsolutions.co.uk/Images/ManvFat-Football-logo-Stacked-RGB.jpg" alt="Logo: MAN v FAT" /></div>
    <h1 style="font-size: 24px; color: #990000; font-weight: bold; font-family: Helvetica, Arial, sans-serif;">Welcome to MAN v FAT Football.</h1>
    <p style="font-size: 16px; color: #545454; font-family: Helvetica, Arial, sans-serif; line-height: 1.5;">Thanks for registering as a player for your local league.</p>
    <p style="font-size: 16px; color: #545454; font-family: Helvetica, Arial, sans-serif; line-height: 1.5;">If you want in-depth information about <a style="color: #6699cc;" href="http://bit.ly/FATBOOK">improving your weight loss and health</a> then get the MAN v FAT Weight Loss Manual.</p>
    <div>
        <h3 style="font-size: 20px; color: #333; font-family: Helvetica, Arial, sans-serif; margin-bottom: 10px;">Your information</h3>
        <ul>
            <li>
                Look forward to it! You're going to lose weight (95% of our players do - on average they lose 2.5 stone across a 14 week season)
            </li>
            <li>
                Go and register at <a href="http://www.talk.manvfat.com">www.talk.manvfat.com</a> (free) and say hello on the forums - this is where you will be meeting some of the experts who will support you and other men who want to lose weight
            </li>
            <li>
                Download WhatsApp (<a href="https://www.whatsapp.com/">https://www.whatsapp.com/</a> (free) – we use this to get information to teams and help them support each other.
            </li>
            <li>
                Get your mates involved. Tell your friends, family and colleagues about what you're doing. If you would like them to be in your team when they've registered at <a href="http://www.manvfat.com/football">www.manvfat.com/football</a> then email us at <a href="mailto:football@manvfat.com">football@manvfat.com</a> and we'll make sure they're in your team.
            </li>
        </ul>
    </div>

    <div style="margin-bottom: 10px; padding-bottom: 10px; border-bottom: solid 3px #900;">
        <h3 style="font-size: 20px; color: #333; font-family: Helvetica, Arial, sans-serif; margin-bottom: 10px;">Frequently Asked Questions</h3>
        <div style="margin-bottom:5px;">
            <b>When does my league start and what night does it run on?  </b>
            <br />
            <p>
                London - Sunbury on Thames - Powerleague - FRIDAY 7-9PM (LEAGUE STARTS 15/7/2016)<br />
                Birmingham - Powerleague - FRIDAY 7-9PM (LEAGUE STARTS 15/7/2016)<br />
                Stoke - Powerleague - FRIDAY 7-9PM (LEAGUE STARTS 15/7/2016)<br />
            </p>
        </div>
        <div style="margin-bottom:5px;">
            <p>
                Coventry - Powerleague - SUNDAY 10-12noon (LEAGUE STARTS 17/7/2016)<br />
                Manchester - Trafford - Powerleague SUNDAY 10-12noon (LEAGUE STARTS 17/7/2016)<br />
                London - Shoreditch - Powerleague - SUNDAY 10-12noon (LEAGUE STARTS 17/7/2016)<br />
            </p>
        </div>
        <div style="margin-bottom:5px;">
            <p>
                London - Croydon - Powerleague - MONDAY 7-9PM (LEAGUE STARTS 18/7/2016)
            </p>
        </div>
        <div style="margin-bottom:5px;">
            <p>
                London - Wembley - Powerleague - WEDNESDAY 7-9PM (LEAGUE STARTS 20/7/2016)<br />
                Manchester - Central - Powerleague - WEDS 8.30-10.30PM (LEAGUE STARTS 20/7/2016)
            </p>
        </div>
        <div style="margin-bottom:5px;">
            <p>
                Manchester - South - Powerleague - FRIDAY - 7-9PM (LEAGUE STARTS 22/7/2016)<br />
                Leeds - Powerleague - FRIDAY 7-9PM (LEAGUE STARTS 22/7/2016)
            </p>
        </div>
        <div style="margin-bottom:5px;">
            <p>
                London - Docklands - Powerleague - SUNDAY 10-12noon (LEAGUE STARTS 24/7/2016)<br />
                Peterborough - Powerleague - SUNDAY 10-12noon (LEAGUE STARTS 24/7/2016)<br />
                Nottingham - Powerleague - SUNDAY 10-12noon (LEAGUE STARTS 24/7/2016)<br />
                Newcastle - Gateshead - Powerleague - SUNDAY 10-12noon (LEAGUE STARTS 24/7/2016)
            </p>
        </div>
        <div style="margin-bottom:5px;">
            <p>
                Cardiff - Powerleague - FRIDAY 7-9PM (LEAGUE STARTS 29/7/2016)
            </p>
        </div>
        <div style="margin-bottom:5px;">
            <p>
                Sheffield - Powerleague - SUNDAY 10-12noon (LEAGUE STARTS 31/7/2016)<br />
                Milton Keynes - Powerleague - SUNDAY 10-12noon (LEAGUE STARTS 31/7/2016)<br />
                Edinburgh - Powerleague - SUNDAY 10-12noon (LEAGUE STARTS 31/7/2016)<br />
                Glasgow - Powerleague - SUNDAY 10-12noon (LEAGUE STARTS 31/7/2016)
            </p>
        </div>

        <div style="margin-bottom:5px;">
            <b>What do I need to wear? </b>
            <br />
            <p>Your first session will be a registration session and will cover all of these questions in depth, but the kit you will definitely need is football boots with moulded studs or astroturf trainers and shin pads.</p>
        </div>

        <div style="margin-bottom:5px;">
            <b>When do I need to pay my game fees?</b>
            <br />
            <p>When you joined MAN v FAT Football you paid a registration fee (either £9.99 or £17.99 depending on whether you bought the book or not). This payment joins you up to the leagues. When the football league starts you will need to pay your game fees. We will contact you before the league begins to ask whether you would prefer to pay monthly or for the full league (discount available).</p>
        </div>

        <div style="margin-bottom:5px;">
            <b>How do I get a mate to join my team?</b>
            <br />
            <p>Get as many of your friends as you like to sign up at <a href="http://www.manvfat.com/football">www.manvfat.com/football</a> and make sure they enter the same league as you. Then drop us an email to <a href="mailto:football@manvfat.com">football@manvfat.com</a> and we'll ensure they are put onto your team. If you don't request any members of your team then you will be put onto a team with a balance of positions and weights.  </p>
        </div>

        <div style="margin-bottom:5px;">
            <b>Got another question? Email us on <a href="mailto:football@manvfat.com">football@manvfat.com</a></b>
        </div>
    </div>

    <div style="margin-bottom: 10px; padding-bottom: 10px; border-bottom: solid 3px #900;">
        <h3 style="font-size: 20px; color: #333; font-family: Helvetica, Arial, sans-serif; margin-bottom: 10px;">Your information</h3>
        <ul style="margin: 0; padding: 0; font-size: 16px; color: #545454; font-family: Helvetica, Arial, sans-serif;">
            <li style="list-style-type: none; margin-bottom: 5px; padding-bottom: 8px; padding-top: 8px; padding-right: 10px; border-bottom: dotted 1px #ccc; background: #d9edf7; clear: left; min-height: 40px;"><img style="float: left; overflow: hidden; padding-right: 20px; padding-bottom: 15px; padding-left: 10px;" src="http://www.manvfat.com/healthreport-images/icon-info-32x32.png" alt="" />Your current BMI is @Model.BMI - a healthy range for your BMI is 18.5 to 24.9. Above or below that you might need to take action to correct your weight. <a style="color: #6699cc;" href="http://manvfat.com/health-report-background/">Questions about BMI?</a></li>
            <li style="list-style-type: none; margin-bottom: 5px; padding-bottom: 8px; padding-top: 8px; padding-right: 10px; border-bottom: dotted 1px #ccc; background: #d9edf7; clear: left; min-height: 40px;"><img style="float: left; overflow: hidden; padding-right: 20px; padding-bottom: 15px; padding-left: 10px;" src="http://www.manvfat.com/healthreport-images/icon-info-32x32.png" alt="" />Your estimated body fat is @Model.BodyFat%. <a style="color: #6699cc;" href="http://manvfat.com/health-report-background/">Questions about your body fat?</a></li>
        </ul>
    </div>
</div>