

<div class="container">
    <h2 class="text-center">Featured Teams</h2>
    @*<ul class="nav nav-tabs horizontal-tab tabNames" role="tablist">
        <li class="active">
            <a href="#FeaturedTeams" role="tab" data-toggle="tab">Teams</a>
        </li>
       <li class="">
            <a href="#FeaturedPlayers" role="tab" data-toggle="tab">Players</a>
        </li>
    </ul>*@


    <div class="tab-content">

        <div id="FeaturedTeams" class="tab-pane fade in active">
            <div class="heading col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4 class="border pull-left">Teams</h4>
                @*<a href="/TeamPlayers/AllPlayers/0" class="rest pull-right seeAllLink"><span>See all teams </span><i class="fa fa-arrow-circle-right"></i></a>*@
            </div>
            <div class="row">
                
                <div id="divFeaturedTeams"></div>
            </div>

        </div>
        @*<div id="FeaturedPlayers" class="tab-pane fade">
            <div class="heading col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4 class="border pull-left">Players</h4>
                <a href="/TeamPlayers/AllPlayers/0" class="rest pull-right seeAllLink"><span>See all players </span><i class="fa fa-arrow-circle-right"></i></a>
            </div>
            <div class="row">
               <div id="divFeaturedPlayers"></div>
            </div>

        </div>*@

    </div>
</div>