<!-- JO-NEW new header layout starts here -->
<header>
    <nav class="navbar navbar-default">
        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="/Home/Index" class="navbar-brand hidden-xs hidden-sm">
                    <img width="195" height="120" src="/Content/FrontEnd/assets/img/LOGO-ManvFat-Football-logo-Stacked-RGB.jpg" alt="">
                    <div class="clsTotalWeightLostByAllLeagues">
                        @ViewBag.TotalLostByAllLeagues lb LOST SO FAR
                    </div>
                </a>

                <a href="/Home/Index" class="navbar-brand visible-xs visible-sm">
                    <img src="/Content/FrontEnd/img/ManvFat-Football-logo.png" alt="">
                    <div class="clsTotalWeightLostByAllLeagues">
                        @ViewBag.TotalLostByAllLeagues lb LOST SO FAR
                    </div>
                </a>

                <div class="contact-details hidden-xs">
                    <a href="https://www.instagram.com/manvfat/" target="_blank"><i class="fa fa-2x fa-instagram" aria-hidden="true"></i></a>
                    <a href="http://www.twitter.com/manvfat" target="_blank"><i class="fa fa-2x fa-twitter" aria-hidden="true"></i></a>
                    <a href="http://www.facebook.com/manvfat" target="_blank"><i class="fa fa-2x fa-facebook" aria-hidden="true"></i></a>
                    <a href="mailto:football@manvfat.com" target="_blank"><i class="fa fa-2x fa-envelope" aria-hidden="true"></i></a>
                    <a href="tel:08451630042" target="_blank"><i class="fa fa-phone fa-2x fa-flip-horizontal" aria-hidden="true"></i></a>
                </div>

                <!-- markup for random header ad -->
                <a href="http://www.talk.manvfat.com" target="_blank" class=""><img class="pull-right img-responsive visible-md visible-lg" src="/Content/FrontEnd/assets/img/mvf-forum-2.jpg" alt="" ></a>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/Leagues/SearchForLeague/All">Leagues</a></li>
                    <li><a href="/MANVFAT/BMICalc">BMI</a></li>
                    <li><a href="/Home/ReferYourFriend">Refer</a></li>
                    <li><a href="https://talk.manvfat.com/" target="_blank">Forum</a></li>
                    <li><a href="https://manvfat.com/#content" target="_blank">Blog</a></li>
                    <li><a href="https://manvfat.com/jobs/" target="_blank">Jobs</a></li>
                    <li><a href="https://shop.manvfat.com/" target="_blank">Shop</a></li>
                </ul>

                <div class="visible-xs mobile-contact">

                  <h4><a href="http://www.bit.ly/MVFFPLAYER" target="_blank">Players</a></h4>
                  <h4><a href="/Home/About">About</a></h4>
                  <h4>Sign up to the weekly MAN v FAT email</h4>
                  <form class="form-inline" action="" method="post" name="" id="">
                    <div class="input-group margin-bottom-sm">
                      <input class="form-control" type="text" placeholder="Email address">
                      <button type="submit" class="btn btn-default">Sign up <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></button>

                    </div>
                  </form>

                  <div class="contact-details">
                    <a href="tel:08451630042"><i class="fa fa-phone fa-2x fa-flip-horizontal" aria-hidden="true"></i></a>
                    <a href="mailto:football@manvfat.com" target="_blank"><i class="fa fa-2x fa-envelope" aria-hidden="true"></i></a>
                    <a href="http://www.facebook.com/manvfat" target="_blank"><i class="fa fa-2x fa-facebook" aria-hidden="true"></i></a>
                    <a href="http://www.twitter.com/manvfat" target="_blank"><i class="fa fa-2x fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/manvfat/" target="_blank"><i class="fa fa-2x fa-instagram" aria-hidden="true"></i></a>
                  </div>

                </div><!-- /mobile-contact -->
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>

</header>
<!-- JO-NEW new header layout ends here -->
