

<div class="container" style="margin-top: 60px;">
    <div class="text-center">
        <h2 style="font-size: 40px;">Latest NEWS</h2>
    </div>
    <!-- Start Heading -->
    <div class="heading col-lg-12 col-md-12 col-sm-12 col-xs-12">
        @*<h4 class="border pull-left">Latest Posts</h4>*@
        <a href="https://talk.manvfat.com/c/sweating/mvf-football" class="rest pull-right seeAllLink" style="font-size: 25px;"><span>See all posts</span><i class="fa fa-arrow-circle-right"></i></a>
    </div>
    <!-- End Heading -->
    <div id="divLatestPostFeeds">

    </div>

</div>

