<style>
    .owl-video-wrapper {
        background: none !important;
    }

    .item h1 {
        color: black !important;
    }

    @@media (max-width: 480px) {
        .slide-content h1 {
            font-size: 17px !important;
        }
    }

</style>

<div class="MainContent">
    <div id="home-slider" class="fixed-nav owl-carousel owl-theme">

        <div class="item">
            <img src="/Images/slider01.png" alt="">
            <div class="slide-content col-lg-8 col-lg-offset-2 col-md-12 col-sm-12 text-center" style="background-color: rgba(255, 255, 255, 0.7); border-radius:10px;">
                <h1>Ready to kick fat into touch with the only leagues in the world designed exclusively for men who want to lose weight? </h1>

                <a href="/Home/Registration" style="color:white;" class="button"><i class="fa fa-hand-o-right"></i><span> Register Now</span><i class="fa fa-hand-o-left"></i></a>
            </div>
        </div>
        <div class="item">
            <img src="/Images/slider02.png" alt="">
            <div class="slide-content col-lg-8 col-lg-offset-2 col-md-12 col-sm-12 text-center" style="background-color: rgba(255, 255, 255, 0.7); border-radius:10px;">
                <h1>Want to find out how 95% of MAN v FAT Football players lose weight and what helps them to lose nearly 2 stone per player on average?</h1>

                <a href="/Home/Registration" style="color:white;" class="button"><i class="fa fa-hand-o-right"></i><span> Register Now</span><i class="fa fa-hand-o-left"></i></a>
            </div>
        </div>
        <div class="item">
            <img src="/Images/slider03.png" alt="">
            <div class="slide-content col-lg-8 col-lg-offset-2 col-md-12 col-sm-12 text-center" style="background-color: rgba(255, 255, 255, 0.7); border-radius:10px;">

                <div class="row martop30">
                    <div class="col-md-12">
                        <h1>We have leagues all around the UK and we're adding more all the time. Want to see where the nearest league to you is?</h1>
                    </div>
                </div>
                <a href="/Leagues/SearchForLeague" style="color:white;" class="button"><i class="fa fa-hand-o-right"></i><span> Find Your League</span><i class="fa fa-hand-o-left"></i></a>
            </div>
        </div>
    </div>
    @*<div class="item">
            <img src="/Images/slider04.png" alt="">
            <div class="slide-content col-lg-8 col-lg-offset-2 col-md-12 col-sm-12 text-center">
                <h1>One Team. One Dream</h1>
                <p>MAN v FAT Football is a free 14 week football league only for guys who are BMI 30+. The league is decided not just on points won, but pounds lost. We give free support to every player with unique free resources, inspiration and 24/7 online support to help you lose weight, get fitter and enjoy the beautiful game.</p>
                <a href="#" style="color:white;"  class="button"><span>Read More</span><i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>*@
    <div class="customNavigation">
        <a class="btn prev slidePrev"><i class="fa fa-angle-left"></i></a>
        <a class="btn next slideNext"><i class="fa fa-angle-right"></i></a>
    </div>
</div>

<script>

    function SearchForLeague_Slider() {
        var test = $("#txtLeagueName_slider").val();
        alert("test = " + test);
        //location.href = '/Leagues/SearchForLeague/' + $("#txtLeagueName_slider").val();
    }
</script>