

<div id="teams" class="teams">
    <div class="container">
        <!-- Start Heading -->
        <div class="heading col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4 class="border pull-left">Our Teams</h4>
            <a href="/TeamPlayers/AllPlayers/0" class="rest pull-right seeAllLink"><span>See all teams </span><i class="fa fa-arrow-circle-right"></i></a>
        </div>
        <!-- End Heading -->
        <!-- Start Teams-Frame -->
        <div id="divTeamPlayerList"></div>
        <!-- End Teams-Frame -->
    </div>
</div>
