<?xml version="1.0"?>

  <connectionStrings>
    <!--Elmah Errol Log SQL Connection String, Replace the *'s -->
  <add name="elmah_Reports" connectionString="Data Source=MININT-2DIUJMI;initial catalog=MANvFATProgress_Dev;integrated security=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="DBEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MININT-2DIUJMI;initial catalog=MANvFATProgress_Dev;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
   
  </connectionStrings>
 