@{
    ViewBag.Title = "Payment Success";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

<div id="home-slider" style="display:none;"></div>

<div class="row clsAboutMAnvFAT">
    <!--Main content-->
    <div class="col-md-12">

        <div class="row red">
            <div class="col-md-12 text-center">
                <h1>
                    Premium Dashboard Payment Success
                </h1>
            </div>
        </div>
        <div class="col-lg-10 col-lg-offset-1">
           Thank you for Premium Dashboard Payment
            TODO: 
            <ol>
                <li>Create Dashboard Payment Success Email (Mailchimp - UA)</li>
                <li>Send Payment Success Email to Player (Done - UA)</li>
                <li>Design Dashboard Payment Success Page (John)</li>
            </ol>
        </div>
    </div>
    <!-- End Container -->
</div>

