<!-- Contact Details-->
<div class="section14" id="ContactUs">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="fool-box">
                    <a href="tel:08451630042"><i class="icofont icofont-iphone"></i></a>
                    <p>0845 163 0042</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="fool-box">
                    <a href="mailto:progress@manvfat.com"><i class="icofont icofont-envelope-open"></i></a>
                    <p>progress@manvfat.com</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="fool-box">
                    <a href="#ContactUs"><i class="icofont icofont-clock-time"></i></a>
                    <p>You can call us Monday – Friday 8am -8pm, Saturday 9am -6pm and Sunday 10am – 4pm</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact Details End-->
<div class="section15">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="foot-social">
                    <a href="https://www.instagram.com/manvfat/"><i class="icofont icofont-social-instagram"></i></a>
                    <a href="http://www.facebook.com/manvfat"><i class="icofont icofont-social-facebook"></i></a>
                    <a href="http://www.twitter.com/manvfat"><i class="icofont icofont-social-twitter"></i></a>
                    @*<a href="#"><i class="icofont icofont-social-google-plus"></i></a>
                    <a href="#"><i class="icofont icofont-social-pinterest"></i></a>*@
                    <a href="http://www.youtube.com/user/manvfat"><i class="icofont icofont-social-youtube-play"></i></a>

                </div>

                <p>© Copyright @DateTime.Now.Year MAN v FAT Limited</p>
                <p>Powered by <strong><a href="https://manvfat.com/wp-content/uploads/2016/05/ALL.png" target="_blank">Leviticus 3:16</a></strong> and <strong>nuclear-grade coffee</strong></p>
            </div>
        </div>
    </div>
</div>  