<div class="header" id="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="logo"><a href="#"><img src="/Content/FrontEnd/progress/images/logo.svg" alt="logo" style="width:235px;"></a></div>
                <div id="menu-icon"><span></span><span></span><span></span></div>
                <div class="clear"></div>
            </div>
            <div class="col-lg-8 col-md-8" id="menu">
                <div class="menu">
                    <ul>
                        <li><a class="active" href="#WelcomeSection">Home</a></li>
                        <li><a href="#features">FAQ's</a></li>
                        <li><a href="#whyus">ABOUT MAN v FAT</a></li>
                        <li><a href="#benefits">Testimonials</a></li>
                        <li><a href="#pricing">Pricing</a></li>
                        <li><a href="#free-trial">Free Trial</a></li>
                        <li><a href="/Home/Login">Log-In</a></li>
                    </ul>
                </div>
            </div>
        </div>

      
    </div>
</div>