
<div id="news" class="news">
    <div class="container">
        <!-- Start Heading -->
        <div class="heading col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4 class="border pull-left">Latest News</h4>
            <a href="/News/LatestNews" class="rest pull-right seeAllLink"><span>See all news</span><i class="fa fa-arrow-circle-right"></i></a>
        </div>
        <!-- End Heading -->
     <div id="divLatestNewsList">

     </div>


        
    </div>
</div>
