<footer id="footer2">
    <div class="row">
        <div class="col-md-12">
            <!-- Start Sposnors -->
            <div class="row clearfix">
                <div class="col-md-12">
                    <h3 class="text-center">Featured on</h3>
                </div>
               
            </div>
            <div class="row sponsors clearfix">
                <div class="col-md-1 col-xs-3 sponsor">
                    <img src="/Content/FrontEnd/img/sponsors2/logo-bbc-5-live.png" alt="">
                </div>
                <div class="col-md-1 col-xs-3 sponsor">
                    <img src="/Content/FrontEnd/img/sponsors2/logo-bbc.png" alt="">
                </div>
                <div class="col-md-1 col-xs-3 sponsor">
                    <img src="/Content/FrontEnd/img/sponsors2/logo-CNN.png" alt="">
                </div>
                <div class="col-md-1 col-xs-3 sponsor">
                    <img src="/Content/FrontEnd/img/sponsors2/logo-daily-mail.png" alt="">
                </div>
                <div class="col-md-1 col-xs-3 sponsor">
                    <img src="/Content/FrontEnd/img/sponsors2/logo-huffington-post.png" alt="">
                </div>
                <div class="col-md-1 col-xs-3 sponsor">
                    <img src="/Content/FrontEnd/img/sponsors2/logo-independent.png" alt="">
                </div>
                <div class="col-md-1 col-xs-3 sponsor">
                    <img src="/Content/FrontEnd/img/sponsors2/logo-la-republica.png" alt="">
                </div>
                <div class="col-md-1 col-xs-3 sponsor">
                    <img src="/Content/FrontEnd/img/sponsors2/logo-sun.png" alt="">
                </div>
                <div class="col-md-1 col-xs-3 sponsor">
                    <img src="/Content/FrontEnd/img/sponsors2/logo-talk-sport.png" alt="">
                </div>
                <div class="col-md-1 col-xs-3 sponsor">
                    <img src="/Content/FrontEnd/img/sponsors2/logo-telegraph.png" alt="">
                </div>
                <div class="col-md-1 col-xs-3 sponsor">
                    <img src="/Content/FrontEnd/img/sponsors2/logo-the-guardian.png" alt="">
                </div>
                <div class="col-md-1 col-xs-3 sponsor">
                    <img src="/Content/FrontEnd/img/sponsors2/logo-the-one-show.png" alt="">
                </div>
            </div>
            <!-- End Sponsors -->
            <!-- Start Copyrights -->
            <div class="row copyrights clearfix">
                <div class="col-md-9">
                    <p class="contact" id="contact">
                        Call us on <a href="tel:08451630042">0845 163 0042</a>
                        <br />
                        Email us on <a href="mailto:football@manvfat.com">football@manvfat.com</a>
                        <br /><br />
                    </p>
                    <p class="copyright">
                        © MAN v FAT 2017
                        <br />
                    </p>
                </div>
                <div class="col-md-3">
                    <img src="/Content/FrontEnd/img/ManvFat-Football-logo.png">
                    <br /><br />

                </div>
            </div>
            <!-- End Copyrights -->
        </div>
    </div>
</footer>

@{  var controllerName = ViewContext.RouteData.GetRequiredString("controller").ToLower(); }

@if (controllerName != "member")
{
<div>

    <div id="refcandy-poprocks" data-id="the3xe2e813mhmmifu6bm4yq6" data-location="left" data-minimized="no" data-version="2"></div>
    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//portal.referralcandy.com/assets/widgets/refcandy-poprocks.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "refcandy-poprocks-js");</script>

</div>
}
