
@{
    ViewBag.Title = "Email Domain Restrictions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="marbot10">
    <h1>Email Domain Restrictions</h1>
</div>

<div class="alert alert-warning">
    <h2>
        Please enter the email domain (e.g. mail.ru) then system will restrict any email ends with mail.ru and will redirect the user to an Error Page with details
    </h2>
</div>

<script type="text/javascript">

    function RefreshEmailDomainRestrictionsGrid(e) {
        this.read();
    }

 
</script>

<style>
    .k-grid .k-hierarchy-col {
        width: 10px;
    }
</style>

@(Html.Kendo().Grid<MANvFAT_Football.Models.Repositories.EmailDomainRestrictionsExt>()
        .Name("EmailDomainRestrictionsGrid")
        .DataSource(dataSource => dataSource
                .Ajax().Events(ev => ev.Sync("RefreshEmailDomainRestrictionsGrid"))
        .PageSize(25)
        .Sort(sort=>sort.Add(m=>m.EmailDomain))
                .Events(ev => ev.Error("DisplayGridError"))
        .Model(model => model.Id(p => p.EmailDomainID))
            .Create(update => update.Action("_Create", "EmailDomainRestrictions"))
                            .Read(read => read.Action("_Read", "EmailDomainRestrictions"))
                            .Update(update => update.Action("_Update", "EmailDomainRestrictions"))
                            .Destroy(update => update.Action("_Destroy", "EmailDomainRestrictions"))
        .ServerOperation(false)
        )

        .Columns(columns =>
        {
            columns.Bound(p => p.EmailDomain).Width(100);

            columns.Command(command =>
            {
                command.Edit().UpdateText("Insert/Update").HtmlAttributes(new { @class = "btn btn-primary" });
                command.Destroy().HtmlAttributes(new { @class = "btn btn-danger" });
            }).Width(172);
        })
        .ToolBar(tool =>
        {
            tool.Custom().Name("cmdAddNewRecord")
            .Text("+ Add New Record")
            .HtmlAttributes(new { @id = "cmdAddNewRecord", @class = "btn btn-primary" });
        })
        .Scrollable()
        .Pageable(p => p.Refresh(true).PageSizes(new int[] { 25, 50, 100 }))
        .Sortable()
        .Navigatable()
            .Scrollable(scr => scr.Height(350))
        .Filterable(filer => filer.Operators(o => o.ForString(s => s.Clear().Contains("Contains"))))

)

<script>
    $("#cmdAddNewRecord").click(function (e) {

        var table = $("#EmailDomainRestrictionsGrid").data("kendoGrid");
        var sorting = table.dataSource.sort();

        if (sorting) {
            table.dataSource.sort(null);
        }
        table.addRow();
        e.preventDefault();
        //put custom logic here

    });
</script>

@Scripts.Render("~/bundles/Grid_Resizer-js")