
@{
    ViewBag.Title = "Restricted Email Domain detected";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}


<div id="home-slider" style="display:none;"></div>

<div class="row clsAboutMAnvFAT">
    <!--Main content-->
    <div class="col-md-12">

        <div class="row red">
            <div class="col-md-12 text-center">
                <h1>
                    Oops! Restricted Email Domain detected
                </h1>
            </div>
        </div>
        <div class="col-lg-10 col-lg-offset-1">
            <h2>Contact us</h2>
            <p>Registrations from this type of address are not allowed automatically, please email football AT manvfat DOTCOM to finalise your registration. Thank You.</p>
        </div>
    </div>
    <!-- End Container -->
</div>

