@{
    ViewBag.Title = "Premium Dashboard";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    string DashboardURL = (string)ViewBag.DashboardURL;
}


<div class="gap20" style="margin-top:44px;"></div>

<div class=" content">
    <div class="container">
        <div class="row">

            <!-- ================= Row I ===================-->


            <div class="login_logo col-lg-12 col-md-6 col-sm-12">
                <img src="/Content/ProgressDashbaord/images/m_logo.png"><br>
                Password Reset Successfully<br><br><br><br>
                <a href="/Member/Login/@DashboardURL"><input class="btn_green" id="btnResetPassword" type="button" value="Login"></a>
            </div>

        </div>

    </div><!-- Row End-->
</div><!-- Container End-->