@model MANvFAT_Football.Models.ResetPasswordModel
@{
    ViewBag.Title = "Premium Dashboard";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}



<div class="gap20" style="margin-top:44px;"></div>

<div class=" content">
    <div class="container">
        @using (Html.BeginForm("ResetPassword", "Member", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.UserID)
            @Html.HiddenFor(m => m.status)

            <div class="row">

                <!-- ================= Row I ===================-->


                <div class="login_logo col-lg-12 col-md-6 col-sm-12">
                    <img src="/Content/ProgressDashbaord/images/m_logo.png"><br>
                    Reset Password<br>
                    <span>Enter a new password</span>
                </div>

                <div class="gap10"></div>

                <div class="text-danger col-sm-12" style="text-align:center;">
                    @if (!string.IsNullOrEmpty(Model.Reason))
                    {
                        <div class="alert alert-@Model.AlertType" style="font-size:25px;">
                            @Model.Reason
                        </div>
                    }

                    <!-- ================= ./END Row I ===================-->
                    <div class="formlogin col-lg-4 col-md-6 col-sm-12">
                        <div class="password_input">
                            Password<br>
                            <input class="input_p" id="NewPassword" name="NewPassword" type="password" placeholder="New Password" required autocomplete="off">
                        </div>
                        <div class="password_input">
                            Retype Password<br>
                            <input class="input_p" id="ConfirmPassword" name="ConfirmPassword" type="password" value="Retype New password" required autocomplete="off">
                        </div>
                        <div class="loginbtn">
                            <button class="btn_green" id="btnResetPassword" type="submit">Reset Password</button><br>
                            <img src="/Content/ProgressDashbaord/images/login_footer_logo.png">
                        </div>

                    </div>

                </div>
            </div><!-- Row End-->
        }


    </div><!-- Container End-->
</div>