@model MANvFAT_Football.Models.Repositories.PlayerDashboardExt
<script src="~/Scripts/views_js/Dashboard/YourWeight.js"></script>

<div>
    <div class="gap15"></div>
    <div>
        <div class="gap10"></div>
        <h3 class="photo_libraryHeading">
            YOUR MEASUREMENTS  &nbsp;<i class="fas fa-angle-left" style="float:none!important"  onclick="return PreviousWeightDate();"></i> <span id="wtheader"> </span>
           
        </h3>

        <i class="fas fa-angle-right" style="float:none!important" onclick="return NextWeightDate();"></i>

        <div class="input-append pull-right calandar-put" style="margin-right:20px;">

            @Html.Kendo().DatePicker().Name("dt_measurement").HtmlAttributes(new { style = "width:0px;margin-top:10px!important; padding:0px!important" }).Events(ev => ev.Change("GetWeights")).Value(DateTime.Now.Date).Format("dd MMM yyyy")
        </div>


    </div>
    <a> <span class="clear-all pull-right">clear all</span></a>

</div>
<div class="gap20"></div>
<div class="clsWeightData">
</div>