@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}
<script src="/Content/FrontEnd/progress/js/Registration.js"></script>

<div class="sectoin0" id="WelcomeSection">

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>You want to lose weight and get healthier.<br><span>Let's make progress</span></h1>
                <p>
                    Sign up for your free dashboard, meet your Progress team and make the change you've been promising yourself - with our money back guarantee the only thing you have to lose is weight.
                </p>
                <div class="bnts">
                    <a href="#free-trial" class="btn2">Start your free trial</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="toping">
                    <img src="/Content/FrontEnd/progress/images/topimg.png">
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Video -->
<div class="section1" id="video">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 module">
                <div class="ttl2">
                    <span>video</span>
                    <h2>HOW PROGRESS WORKS</h2>
                </div>
                <div class="mac">
                    <iframe style="width:100%; height:500px;" src="https://www.youtube.com/embed/wuOF75nJBHk?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    @*<a href="https://www.youtube.com/embed/wuOF75nJBHk" class="various fancybox"></a>*@
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Video End-->
<!-- free-trial -->
<div class="section4" id="free-trial">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="search-sec">
                    <span>Let’s make Progress</span>
                    <h2>SIGN UP FOR YOUR COMPLETELY FREE TRIAL - NO CREDIT CARD REQUIRED</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="grop">

                    <div class="input-group">
                        <input id="txtFirstName_1" type="text" class="form-control" placeholder="First Name" required>
                        <input id="txtLastName_1" type="text" class="form-control" placeholder="Last Name" required>
                        <input id="txtEmailAddress_1" type="text" class="form-control" placeholder="Your Email" required>

                        <button class="btn btn-secondary" type="button" onclick="return Submit_Registration(1);">start your free trial</button>
                    </div>
                    <p><input  id="chk_tns_1" name="terms" type="checkbox" value="">&nbsp;I agree to the <a href="https://manvfat.com/terms-and-conditions/">Terms and Conditions</a></p>
                    <p>Create your FREE account now & get 7 days FREE trial. No credit card required. After 7 days choose to pay monthly, every 12 weeks or annually. If you don’t lose weight then you get your money back.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- free-trial End-->
<!-- features -->
<div class="section2" id="benefits">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ttl">
                    <span>benefits</span>
                    <h2>Progress is designed by men's health experts to ensure you hit your targets</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 module">
                <div class="f-box">
                    <div class="f-img"><img src="/Content/FrontEnd/progress/images/JamesIlsey.png" alt="f1"></div>
                    <a href="#">INSPIRATION</a>
                    <p>
                        James Ilsey: MAN v FAT, and the online groups in particular, have made a huge difference to me and my weight-loss journey (I know some hate the word journey but I quite like it!) The direct peer support the groups give you are fantastic and really encourage you to keep going.
                    </p>
                    <p>
                        The accountability of tracking every day means that your journey and goals are never far from your mind. Through the groups, I have had the privilege of meeting some fantastic people, who I now regard as friends, even though the majority are virtual, I would recommend getting involved to anyone with weight to lose.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 module">
                <div class="f-box">
                    <div class="f-img"><img src="/Content/FrontEnd/progress/images/DailyMail.png" alt="f2"></div>
                    <a href="#">MOTIVATION</a>
                    <p>
                        The idea is that you draw inspiration from your 'team' members, while also dishing out encouragement. Moreover, men are competitive beasts. I didn't want to be the least successful dieter in my group, the Aston Villa of the division.
                    </p>
                    <p>
                        It's a brilliantly simple idea, and has yielded impressive results. Eighty per cent of men who have tried it have lost weight, with 9lb the average over the 30 days.
                        Perhaps fancifully, I thought about the difference between weather and climate: weather being the conditions of the atmosphere over a short period, climate being its longer-term pattern of behaviour.
                    </p>
                    <p>
                        I decided that my diet would fail if I changed the 'weather' of my eating habits. I needed to address the climate. And I have. I lost 9lb in that first fortnight and added 2lb in the second. So I didn't quite make my target, but I still lost half a stone overall in 30 days, which I've continued to keep off.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 module">
                <div class="f-box">
                    <div class="f-img"><img src="/Content/FrontEnd/progress/images/StevenHaley.png" alt="f3"></div>
                    <a href="#">accountability</a>
                    <p>
                        Steven Haley: My highest weight is from Oct 2013 at 125kg. Since then, I have tried and failed numerous times to lose weight. Finding MAN v FAT has really helped me with info, advice, motivation and comradery. The main benefit has been that when I have slipped up, I have not given up.
                    </p>
                    <p>
                        I did so recently and gained nearly 9kg back, but staying here and sweating it out is helping me shed again. It’s easy when things are going well right? But digging in when they aren’t is the challenge - for me anyway..So that’s the main benefit for me - the means to not give up and to get back at it!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- features End-->
<!-- Description Two Colom-->
<div class="section3" id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 module">
                <div class="img3">
                    <img src="/Content/FrontEnd/progress/images/img1.png" alt="img1">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 module">
                <div class="con1">
                    <span>features</span>
                    <h2>everything you need<br>to succeed</h2>
                    <p class="p">
                        Progress gives you everything you need to succeed in your weight loss journey all accessible on your laptop, PC or mobile phone.
                    </p>
                    <div class="tags">
                        <div class="tg">
                            <div class="tgimg"><img src="/Content/FrontEnd/progress/images/i1.png" alt="icon1"></div>
                            <div class="tgcon">
                                <h2>track your food, drink and activity</h2>
                                <p>No need to count calories or measure your macros - just reliable food, drink and activity tracking - with tools to accurately measure your Progress.</p>
                                <p></p>
                            </div>
                            <div class="clear"></div>
                        </div>

                        <div class="tg">
                            <div class="tgimg"><img src="/Content/FrontEnd/progress/images/i1.png" alt="icon3"></div>
                            <div class="tgcon">
                                <h2>SUPPORT THAT WORKS FOR YOUR LIFE</h2>
                                <p>Meet your Progress team - other men who want to lose weight and get healthy just like you. Share ideas, meet the challenges, track your achievements and celebrate your goals together. Teams use usernames so you can participate completely anonymously if you prefer.</p>
                                <p></p>
                            </div>
                            <div class="clear"></div>
                        </div>

                        <div class="tg">
                            <div class="tgimg"><img src="/Content/FrontEnd/progress/images/i1.png" alt="icon2"></div>
                            <div class="tgcon">
                                <h2>data, insights and achievements</h2>
                                <p>Your Progress displayed beautifully in data formats that you can export, share with your team or friends. Get insights that help you lose and improve.</p>
                                <p></p>
                            </div>
                            <div class="clear"></div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Description End-->
<!-- Why us - Statistics-->
<div class="section5" id="whyus">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="ttl3">
                    <span>why us ?</span>
                    <h2>the only weight loss app designed for men</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 module">
                <div class="our-box">
                    <img src="/Content/FrontEnd/progress/images/s1.png">
                    <div class="down-box">
                        <div class="cnt"><h3 class="count">4</h3><h4>&nbsp;Years</h4></div>
                        <span>
                            We have run online groups since 2014.
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 module">
                <div class="our-box">
                    <img src="/Content/FrontEnd/progress/images/s2.png">
                    <div class="down-box">
                        <div class="cnt"><h3>1.6</h3><h4>&nbsp;M</h4></div>
                        <span>
                            We help more than one million men per year.
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 module">
                <div class="our-box">
                    <img src="/Content/FrontEnd/progress/images/s3.png">
                    <div class="down-box">
                        <div class="cnt"><h3 class="count">225</h3><h4>&nbsp;K lbs</h4></div>
                        <span>
                            Weight lost with MAN v FAT groups so far.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- why us End-->
<!-- Pricing-->
<div class="section9" id="pricing">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="ttl3">
                    <span>plans</span>
                    <h2>CHOOSE A PAYMENT PLAN THAT WORKS FOR YOU</h2>
                </div>
                <div style="padding-top:10px;">
                    <div class="plan-btn"><a href="#freetrial">START FREE TRIAL</a></div>
                </div>
            </div>
        </div>
        <div class="row pdtop">


            <div class="col-lg-4 col-md-4 col-sm-4 pos module">
                <div class="plan">
                    <div class="plan-ttl">
                        <span>1 MONTH PLAN</span>
                        <h3>£12.99</h3>
                        <span>Per Month</span>
                    </div>

                    <ul>
                        <li class="yes"><span>Unlimited access</span></li>
                        <li class="yes"><span>Join a Progress team</span></li>
                        <li class="yes"><span>Complete tracking solution</span></li>
                        <li class="yes"><span>Full data access</span></li>
                        <li class="yes"><span>Access all member benefits (worth over £300)</span></li>
                        <li class="yes"><span>Accessible on all laptops, PCs and smartphones</span></li>
                        <li class="yes"><span>Full refund if you don't lose weight</span></li>

                    </ul>

                    <div class="plan-btn"><a href="#freetrial">START FREE TRIAL</a></div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 pos module">
                <div class="plan">
                    <div class="plan-ttl">
                        <span>3 MONTHS' PLAN</span>
                        <h3>£35</h3>
                        <span>Save 10%</span>
                    </div>

                    <ul>
                        <li class="yes"><span>Unlimited access</span></li>
                        <li class="yes"><span>Join a Progress team</span></li>
                        <li class="yes"><span>Complete tracking solution</span></li>
                        <li class="yes"><span>Full data access</span></li>
                        <li class="yes"><span>Access all member benefits (worth over £300)</span></li>
                        <li class="yes"><span>Accessible on all laptops, PCs and smartphones</span></li>
                        <li class="yes"><span>Full refund if you don't lose weight</span></li>

                    </ul>

                    <div class="plan-btn"><a href="#freetrial">START FREE TRIAL</a></div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 pos module">
                <div class="plan">
                    <div class="plan-ttl">
                        <span>12 MONTHS' PLAN</span>
                        <h3>£140</h3>
                        <span>Save 10%</span>
                    </div>

                    <ul>
                        <li class="yes"><span>Unlimited access</span></li>
                        <li class="yes"><span>Join a Progress team</span></li>
                        <li class="yes"><span>Complete tracking solution</span></li>
                        <li class="yes"><span>Full data access</span></li>
                        <li class="yes"><span>Access all member benefits (worth over £300)</span></li>
                        <li class="yes"><span>Accessible on all laptops, PCs and smartphones</span></li>
                        <li class="yes"><span>Full refund if you don't lose weight</span></li>

                    </ul>

                    <div class="plan-btn"><a href="#freetrial">START FREE TRIAL</a></div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- pricing End-->
<!-- Get Download Link-->
<div class="section11">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="ttl5">
                    <span>are you ready ?</span>
                    <h2>start your weight loss journey with progress</h2>
                </div>
                <p>
                    "Progress is impossible without change, and those who cannot change their minds cannot change anything." George Bernard Shaw
                </p>
                <div class="getbtn"> <a href="#free-trial" class="btn2">Start your free trial</a></div>
            </div>
        </div>
    </div>
</div>
<!-- Get Download Link End-->
<!-- Clients Logo-->
<div class="section12">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="slider1">
                    <div class="slide"><img src="/Content/FrontEnd/img/sponsors2/logo-bbc-5-live.png"></div>
                    <div class="slide"><img src="/Content/FrontEnd/img/sponsors2/logo-bbc.png"></div>
                    <div class="slide"><img src="/Content/FrontEnd/img/sponsors2/logo-CNN.png"></div>
                    <div class="slide"><img src="/Content/FrontEnd/img/sponsors2/logo-daily-mail.png"></div>
                    <div class="slide"><img src="/Content/FrontEnd/img/sponsors2/logo-huffington-post.png"></div>
                    <div class="slide"><img src="/Content/FrontEnd/img/sponsors2/logo-independent.png"></div>
                    <div class="slide"><img src="/Content/FrontEnd/img/sponsors2/logo-la-republica.png"></div>
                    <div class="slide"><img src="/Content/FrontEnd/img/sponsors2/logo-daily-mirror.png"></div>
                    <div class="slide"><img src="/Content/FrontEnd/img/sponsors2/logo-talk-sport.png"></div>
                    <div class="slide"><img src="/Content/FrontEnd/img/sponsors2/logo-telegraph.png"></div>
                    <div class="slide"><img src="/Content/FrontEnd/img/sponsors2/logo-the-guardian.png"></div>
                    <div class="slide"><img src="/Content/FrontEnd/img/sponsors2/logo-the-one-show.png"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Clients Logo End-->
<!-- Freetrial-->
<div class="section13" id="freetrial">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="ttl3">
                    <span>Let’s start</span>
                    <h2>Start your free trial</h2>
                </div>

                <div class="form">
                    <input id="txtFirstName_2"  type="text" class="input" placeholder="First Name">
                    <input  id="txtLastName_2" type="text" class="input" placeholder="Last Name">
                    <input  id="txtEmailAddress_2" type="text" class="input" placeholder="Your Email">
                    <p><input id="chk_tns_2" name="terms" type="checkbox" value="">&nbsp;I agree to the <a href="https://manvfat.com/terms-and-conditions/">Terms and Conditions</a></p>
                    <button class="btn2" onclick="return Submit_Registration(2);">start your free trial now</button>
                    <p>Create your FREE account now & get 7 days FREE trial. No credit card required. After 7 days choose to pay monthly, every 12 weeks or annually. If you don’t lose weight then you get your money back.</p>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- freetrial End-->
