<div >
    <div class="col-md-12">
        <div class="modal fade model_ConfirmationDialogue" tabindex="-1" role="dialog" aria-labelledby="dlgHeading" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content Usman"  style="margin-top:5% !important;">
                    <div class="modal-header">
                        <h2 class="text-primary" id="dlgHeading"></h2>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-11">
                                <p id="dlgMsg"></p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input id="btnCancel" type="button" class="btn btn-default" data-dismiss="modal" value="Cancel" />
                        <input id="btnAction" type="button" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
