@{
    ViewBag.Title = "Premium Dashboard";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    string DashboardURL = (string)ViewBag.DashboardURL;
}

<div id="home-slider" style="display:none;"></div>

<div class="row clsAboutMAnvFAT">
    <!--Main content-->
    <div class="col-md-12">

        <div class="row red">
            <div class="col-md-12 text-center">
                <h1>
                    You have successfully Reset your Password
                </h1>
            </div>
        </div>
        <div class="col-lg-10 col-lg-offset-1">
            <a href="/Member/Login/@DashboardURL">Click here</a> to Login
        </div>
    </div>
    <!-- End Container -->
</div>