

<div class="row">
    <div class="col-md-12">
        <div class="modal fade model_AuditLogDetails" id="AuditLogDetails" tabindex="-1" role="dialog" aria-labelledby="dlgHeading" aria-hidden="true">
            <div class="modal-dialog  modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="text-primary">Audit Log Details</h2>
                    </div>
                    <div class="modal-body" style="overflow:auto; height:500px;">
                        <div class="row">
                            <div class="col-md-11">
                                <div id="dlgBody">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input id="btnCancel" type="button" class="btn btn-default" data-dismiss="modal" value="Close" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

