
<div align="center">
    <h1 style="color:black;">Unauthorized Access</h1>

    <p><b>You have no rights to view the contents of requested page.</b></p>
    <p><b>@ViewData["Locked"] </b></p>
    -- > <a href="/Account/LogOn">Return to the LogOn Screen</a> < --
</div>
