
@{
    ViewBag.Title = "UnexpectedError";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}


<div id="home-slider" style="display:none;"></div>

<div class="row clsAboutMAnvFAT">
    <!--Main content-->
    <div class="col-md-12">

        <div class="row red">
            <div class="col-md-12 text-center">
                <h1>
                    Oops! Something went wrong
                </h1>
            </div>
        </div>
        <div class="col-lg-10 col-lg-offset-1">
            <h2>Contact us</h2>
            <p>Please contact us at <a href="mailto:football@manvfat.com">football@manvfat.com</a>  or call us on <a href="tel:08451630042">0845 163 0042</a> and we'll get in touch with you ASAP to resolve this issue. Thank You.</p>


        </div>
    </div>
    <!-- End Container -->
</div>

