<div class="clsHeaderStats">


    <div class="container">
        <!-- profile-content -->
        <div class="profile-box-content clearfix">
            <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 py-2 profile-info">
                <div class="profile_txt">
                    <div class="col-xs-24  col-sm-12 col-md-11">
                        <img src="~/Content/ProgressDashbaord/images/profile-img.jpg" class="profile-img">
                        <span>
                            <strong>Hello Andy, </strong>
                            <a href="#" id="modelLink">
                                <span> Happy St Patrick's Day!</span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12 py-2 mt-2 arangetop_txt">
                <div class="pull-right align_center pr-4">
                    <div class="badge-bx"><span class="circle"></span>100</div>
                    <div class="black">18.45</div>
                    <div class="grey">WED 21 MAR</div>
                    <div class="green">500 POINTS <span>30 THIS WEEK </span></div>
                </div>
            </div>
        </div>
    </div>
</div>