@model MANvFAT_Football.Models.Repositories.PlayerDashboardExt

<div class="links_bg padon clearfix">
    <div class="container">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 logo pd-l-27 ">
            <img src="~/Content/ProgressDashbaord/images/logo.jpg" class="img-responsive center-block">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pd-r-27 nav-content-bx">
            <nav class="navbar left navbar-default navonmob">
                <div class="container-fluid nomrgpad p-0">
                    <div class="navbar-header nomrgpad">
                        <button type="button" class="menubtn navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar5">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="navbar5" class="navbar-collapse collapse nomrgpad p-0">
                        <ul class="nav navbar-nav mt-1">
                            <li><a href="/Member/@Model.DashboardURL">Home</a></li>
                           <li><a href="/Member/Settings/@Model.DashboardURL">settings</a></li>
                            <li><a href="/Member/LogOff/@Model.DashboardURL">log out</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
